.project
*~
*.bak
tmp/**
logs
*.seed
Thumbs.db 
results
# Locally stored "Eclipse launch configurations"
!.gitignore
*.log
###Node###
sftp-config*.json
*.tmp
tmp/**/*
pids
# KDE
*.pid
/*.sublime-project
 
.*
bin/**
*.dat
# Windows image file caches
*.pydevproject
# Folder config file
.buildpath
*.sublime-workspace
###Windows###
###Eclipse###
# SublimeText project files
.loadpath
###Linux###
.cproject
*.out
.settings/
*.orig
/gravegard
Desktop.ini
# External tool builders
# Recycle Bin used on file shares
*.launch
# PDT-specific
*.swp
###SublimeText###
$RECYCLE.BIN/
node_modules/
.classpath
# CDT-specific
.metadata
*.csv
.externalToolBuilders/
lib-cov
local.properties
.Guardfile
npm-debug.log
.directory
*.gz
*~.nib