*.seed
*~
tmp/**
logs
*.pydevproject
.project
Thumbs.db 
results
###SublimeText###
# Locally stored "Eclipse launch configurations"
!.gitignore
*.log
###Node###
sftp-config*.json
*.tmp
tmp/**/*
*.pid
# KDE
pids
/*.sublime-project
 
.*
bin/**
*.dat
# Windows image file caches
*.bak
# Folder config file
.buildpath
*.sublime-workspace
###Windows###
###Eclipse###
.settings/
# SublimeText project files
.loadpath
# CDT-specific
###Linux###
.cproject
*.out
# Recycle Bin used on file shares
*.orig
Desktop.ini
# External tool builders
*.launch
# PDT-specific
*.swp
.metadata
node_modules/
.classpath
*~.nib
$RECYCLE.BIN/
*.csv
.externalToolBuilders/
lib-cov
local.properties
npm-debug.log
.directory
*.gz
.Guardfile