
rect {
	fill: none;
	pointer-events: all;
}

.graph-container .link {
  fill: none;
  opacity: 1;
}

.graph-container .node circle {
  stroke: #333;
  stroke-width: 1.5px;
  cursor:pointer;
}

.graph-container text {
  /*fill: #44444;*/
  font: 14px sans-serif;
  pointer-events: none;
  font-weight: bold;
}


#topbar {
  text-align: center;
}

#indented_tree {
  text-align: left;
}

#graph-container {
  text-align: center;
}


div#topbar h1{
  font: 32px;
  position:absolute;
  padding-right:50%;
}


div#treeHeader {

}

div#topbar .image {
  float: left
}

div#treeHeader {
  background-color: lightgrey;
  font: 24px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle; 
  display: table-cell;
}
