
rect {
	fill: none;
	pointer-events: all;
}



.graph-container .link {
  fill: none;
  opacity: 1;
}

.graph-container .node {
  /*fill: blue; */
  stroke: #333;
  stroke-width: 1.5px;
  cursor:pointer;
}

.graph-container text {
  /*fill: #44444;*/
  font: 14px sans-serif;
  pointer-events: none;
}
