
rect {
	fill: none;
	pointer-events: all;
}

.graph-container .link {
  fill: none;
  opacity: 1;
}

.graph-container .node circle {
  stroke: #333;
  stroke-width: 1.5px;
  cursor:pointer;
}

.graph-container text {
  pointer-events: none;
}
