.sidebar {
  border-radius : 11px;
  border-color: black;
  border-style: solid;
  float:right;
  border-width:1px;
  padding: 5px;
  opacity:.8;
  right: 0;
  top: 0;
  min-width: 250px;
  max-width: 350px;
  padding: 12px;
  font-size:14px;
  overflow: true;
  margin-top: 135px;
}
.sidebar .name {
  font-weight: bold;
}
